.footerlinks {
    color: black;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background-color: #FFFFCE;
}

#footer2 {
    background-color: #FDFD96;
}

#blacklink {
    color: black;
}


